footer {
    background: #1f5e80;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.5);
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;
  }
  
  footer::after {
    clear: both;
    content: "";
    display: table;
  }
  nav {
    float: left;
    padding: 0;
    width: 33.32%;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    justify-content: center;
  }
  
  nav li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    position: relative;
  }
  
  nav a {
    color: #cccdce;
    text-transform: uppercase;
    font-size: 0.8em;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #000;
  }
  
  nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;
    top: 0px;
    width: 0%;
    position: absolute;
  }
  
  nav a:hover::before {
    width: 100%;
  }

