<div class="about">
    <div class="jumbotron">
      <h2>ABOUT SPEEDY</h2>
      <h6>Thoughts that bring people together.</h6>
    </div>
    <div class="team">
      <h5>The Team</h5>
      <div class="team1">
        <img
          src="https://ca.slack-edge.com/T0ECY9XMK-UDJG6N3EK-5cf4de4c0ccb-48"
          alt=""
        />
        <h6>Ryan Cawley</h6>
      </div>
      <div class="team2">
        <img
          src="https://ca.slack-edge.com/T0ECY9XMK-U9MM1GHSQ-11f989a3b022-48"
          alt=""
        />
        <h6>Seymour James</h6>
      </div>
      <div class="team3">
        <img
          src="https://ca.slack-edge.com/T0ECY9XMK-UD2MFTYSC-g3ac10918f03-48"
          alt=""
        />
        <h6>Damaris Ayala</h6>
      </div>
  
      <div class="team4">
        <img
          src="https://ca.slack-edge.com/T0ECY9XMK-UD19T1E94-9dfa4bad4ef8-48"
          alt=""
        />
        <h6>Kidane Beyene</h6>
      </div>
    </div>
  </div>
  